SELECT TOP (1000) [JobId]
      ,[Id]
      ,[OperationType]
      ,[RefreshMode]
      ,[Status]
      ,[LCMVersion]
      ,[ReportFormatVersion]
      ,[ConfigurationVersion]
      ,[NodeName]
      ,[IPAddress]
      ,[StartTime]
      ,[EndTime]
      ,[Errors]
      ,[StatusData]
      ,[RebootRequested]
      ,[AdditionalData]
  FROM [DSC].[dbo].[StatusReport]
  ORDER BY StartTime DESC